@keyframes porog {


    100% {
        transform: rotate(360deg);
    }
}

.kockaPorog {
    animation-name: porog;
    animation-duration: 2s;

}



#EP {
    width: 100%;
    background-color: green;
    text-align: center;
    font-size: 65px;
    color: white;
}

#maxEP {
    width: 100%;
    background-color: green;
    font-size: 65px;
    text-align: center;
    color: white;
    border-top: 2px black solid;
}

#Vp {
    width: 100%;
    background-color: rgb(21, 101, 192);
    text-align: center;
    font-size: 65px;
    color: white;
    border-top: 2px black solid;
}

#maxVp {
    width: 100%;
    background-color: rgb(21, 101, 192);
    text-align: center;
    font-size: 65px;
    color: white;
    border-top: 2px black solid;
}

#csont {
    width: 100%;
    background-color: grey;
    text-align: center;
    font-size: 65px;
    color: white;
    border-top: 2px black solid;
}

#kor {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 65px;
}

#csontKep {
    width: 60px;
    margin-top: -10px;
    margin-right: -80px;
}

.rendezoBal {
    float: left;
    margin: 28px 0px 0px 30px;
    color: white;
    font-size: 30px;
}

.rendezoJobb {
    margin: 28px 30px 0 0;
    font-size: 30px;
    color: white;
    float: right;
}

#epPlusz {
    cursor: pointer;
}

#mEpPlusz {
    cursor: pointer;
}

#epMinusz {
    cursor: pointer;
}

#mEpMinusz {
    cursor: pointer;
}

#vpPlusz {
    cursor: pointer;
}

#mVpPlusz {
    cursor: pointer;
}

#vpMinusz {
    cursor: pointer;
}

#mVpMinusz {
    cursor: pointer;
}

#csontPlusz {
    cursor: pointer;
}

#csontMinusz {
    cursor: pointer;
}

#kovetkezoKor {
    cursor: pointer;
}

#korMinusz {
    cursor: pointer;
}

/* Container for checkbox and label */
.checkbox-containerIdezes {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-containerMulligan {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Hide the default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Custom checkbox appearance */
.custom-checkboxIdezes {
    width: 50px;
    height: 50px;
    background-image: url('unchecked.png');
    /* Default unchecked image */
    background-size: cover;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;

}

.custom-checkboxMulligan {
    width: 50px;
    height: 50px;
    background-image: url('unchecked.png');
    /* Default unchecked image */
    background-size: cover;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;

}

/* Image when the checkbox is checked */
input[type="checkbox"]:checked+.custom-checkboxIdezes {
    background-image: url("idezes.png");
    /* Image for the checked state */
}

input[type="checkbox"]:checked+.custom-checkboxMulligan {
    background-image: url("mulligan.png");
    /* Image for the checked state */
}

/* Label text next to the checkbox */
.checkbox-label {
    margin-left: 10px;
    font-size: 20px;
}

#idezes {
    width: 120px;
}

#jobbra {
    float: right;
    margin-top: -50px;
}

.igazito {
    /*középre teszi*/
    align-items: center;
    margin-top: 45px;
    display: inline-flex;
    cursor: pointer;
}

.container {
    text-align: center;
}

button {
    cursor: pointer;
    margin-top: -80px;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    /* Kezdetben elrejtjük a modált */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalKontent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}